<% if @comment.errors.any? %>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li style="color: #990011FF"><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class='row'>
  <div class = 'col-xs-12'>
    <%= form_for [@article, @comment  ] do |f| %>
      <div class="from-group">
        <div class="control-label col-sm-2">
          <span class="head1"><%= f.label :Name%></span>
        </div>
        <div class="col-sm-11">
          <%= f.text_field :name, class: "form-control",  placeholder: "Your Name", autofocus: true %>
        </div>
      </div>
      <br>
      <div class="from-group">
        <div class="control-label col-sm-2">
          <span class="head1"><%= f.label :Comment%></span>
        </div>
        <div class="col-sm-11">
          <%= f.text_area :description , rows: 8, class: "form-control", placeholder: "Add Comment"%>
        </div>
      </div>
      <br>
      <div class ="abcd">
        <%= f.submit "Submit", class: "btn-sm effect effect-5" %>
        <%= link_to 'Back',  articles_path, class: "btn-sm py-2 effect effect-5"%>
      </div>
    <% end %>
  </div>
</div>
