<div class="parent">
  
    <% obj.each do |article| %>
    <div class="child">
      <br>
      <div class="row">
        <div class="col-sm-11 d-block mx-auto border rounded" style="background-color:#F5F0E1">
          <div class="well well-lg">
            <div class="article-title">
              <%= link_to article.title, article_path(article), style:"color:#990011FF;" %>
            </div>
            <div class="card">
              <% if article.image.attached? %>
                <%= image_tag article.image, :size => "300x200" ,class: 'd-block mx-auto'%>
              <% end %>
            </div>
            <div class="article-body">
              <%= truncate(article.descrption, length: 300) %>
               <hr style="color: #990011FF">
              <div class="article-meta-details">
                <u> <b> <small> Created by:</b></u> <%=article.user.username if article.user%> </small> <br>
                <u> <b> <small> Posted Time:</b></u> <%= time_ago_in_words(article.created_at) %> ago</small>  <br>
                <u> <b> <small> Last updated:</b></u> <%= time_ago_in_words(article.updated_at)%> ago </small> <br>
              </div>
            </div>
            <div class="abcd">
            
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-primary" %>
            <%= link_to "Delete", article_path(article), method: :delete,
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "btn btn-danger" %>
              </div>
          </div>
          <br>
        </div>
      </div>
        </div>
    <% end %>
    <br>

</div>
<br>
<br>
<%= link_to 'Create New Article',  new_article_path , class: 'btn btn-danger'%>
