<% if @article.errors.any? %>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li style="color: #990011FF"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class='row'>
  <div class = 'col-xs-12'>
    <%= form_for @article do |f| %>
      <div class="from-group">
        <div class="control-label col-sm-2">
          <%= f.label :title%>
        </div>
        <div class="col-sm-11">
          <%= f.text_field :title, class: "form-control",  placeholder: "Title of article", autofocus: true %>
        </div>
      </div>
      <br>
      <div class="from-group">
        <div class="control-label col-sm-2">
          <%= f.label :description %>
        </div>
        <div class="col-sm-11">
          <%= f.text_area :descrption , rows: 8, class: "form-control", placeholder: "Body of article"%>
        </div>
      </div>
      <br>
      <div class="from-group">
        <div class="control-label col-sm-2">
          <%= f.label :image %>
        </div>
        <div class="col-sm-11">
          <%= f.file_field :image , rows: 8, style:"border 2px"%>
        </div>
      </div>
      <br>
      <div class ="abc">
        <div class="form-group">
          <div class="col-sm-10">
            <%= f.submit  class: 'btn btn-danger' %>
          </div>
        </div>
        <%= link_to 'Back To Articles',  articles_path, class: 'btn btn-danger'%>
      </div>
    <% end %>
  </div>
</div>

