<% if @article.errors.any? %>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li style="color: #990011FF"><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class='row'>
  <div class = 'col-xs-12'>
    <%= form_for @article do |f| %>
      <div class="from-group">
        <div class="control-label col-sm-2">
          <span class="head1"><%= f.label :Title%></span>
        </div>
        <div class="col-sm-11">
          <%=  f.text_field :title, class: "form-control",  placeholder: "Title of article", autofocus: true %>
        </div>
      </div>
      <br>
      <div class="from-group">
        <div class="control-label col-sm-2">
          <span class="head1"><%= f.label :Description %></span>
        </div>
        <div class="col-sm-11">
          <%= f.text_area :descrption , rows: 8, class: "form-control", placeholder: "Body of article"%>
        </div>
      </div>
      <br>
      <div class="from-group">
        <div class="control-label col-sm-2">
          <span class="head1"><%= f.label :Image%></span>
        </div>
        <div class="col-sm-11">
          <%= f.file_field :image , rows: 8, style:"border 2px"%>
        </div>
      </div>
      <br>
      <div class="from-group">
        <div class="control-label col-sm-2">
          <span class="head1"><%= f.label :Video%></span>
        </div>
        <div class="col-sm-11">
          <%= f.file_field :video , rows: 8, style:"border 2px"%>
        </div>
      </div>
      <br>
      <div class ="abcd">
        <%= f.submit class: "btn-sm effect effect-5" %>
        <%= link_to 'Back',  articles_path, class: "btn-sm py-2 effect effect-5"%>
      </div>
    <% end %>
  </div>
</div>
