
<hr style="border: 1px solid black ">
<%= render 'layouts/messages' %>
<% if cookies[:saved_subscriber] %>
  Thanks for signing up!
<%else %>
  <br>
  <u>
    <h3 style="margin-left:13px;text-transform:uppercase"> Sign up for newsletter: </h3>
  </u>
  <%= form_for Subscriber.new do |f|%>
    <div class="from-group">
      <div class="control-label col-sm-2">
        <span class="head1"><%= f.label :Name%></span>
      </div>
      <div class="col-sm-5">
        <%= f.text_field :name, class: "form-control", placeholder: "Enter Username", autofocus: true %>
      </div>
    </div>
    <br>
    <div class="from-group">
      <div class="control-label col-sm-2">
        <span class="head1"><%= f.label :email%></span>
      </div>
      <div class="col-sm-5">
        <%= f.email_field :email ,class: "form-control", placeholder: "Enter email"%>
      </div>
    </div>
    <br>
    <br>
    <%= f.submit "Subcribe", class:"effect effect-5", style:"margin-left:12px"%>
  </div>
<%end%>
<%end%>
<hr style="border: 1px solid black ">
