<h1>Listing all articles </h1>

<table> 

<tr>
<th>Title</th>
<th>Description</th>
</tr>

<% @articles.each do |article| %>
<tr>
<td> <h3><b> <%= article.title%></b> </h3></td>
<td> <%= article.descrption%> </td>
<td> <button><%= link_to 'Show',  article_path(article) %>  </button></td> 
<td> <button><%= link_to 'Edit',  edit_article_path(article) %> </button></td>
<td><%= button_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>


</tr>
<% end %>
</table>
<br>
<button><%= link_to 'Create New Article',  new_article_path %> </button> 
