<h1>Listing all articles </h1>

<% @articles.each do |article| %>
<br>
<div class="row">
<div class="col-sm-10 d-block mx-auto border" style="background-color:#F5F0E1">

<div class="well well-lg">
<div class="article-title">
<%= link_to article.title, article_path(article), style:"color:#990011FF;text-transform:uppercase" %>
</div>
<div class="card">
<% if article.image.attached? %>
<%= image_tag article.image, :size => "500x300" ,class: 'd-block mx-auto' %>
<% end %>
</div>
<div class="article-body">
<%= truncate(article.descrption, length: 500) %>
<hr>
<div class="article-meta-details">
<u> <b> <small> Created by:</b></u> <%=article.user.username if article.user%> </small> <br>
<u> <b> <small> Posted Time:</b></u> <%= time_ago_in_words(article.created_at) %> ago</small>  <br>
<u> <b> <small> Last updated:</b></u> <%= time_ago_in_words(article.updated_at)%> ago </small> <br>
</div>
</div>
<div class="abcd">
<%= link_to "Edit this article", edit_article_path(article), class: "btn btn-primary" %>
<%= button_to "Delete this article", article_path(article), method: :delete,
data: { confirm: "Are you sure you want to delete the article?"},
class: "btn btn-danger" %>
</div>
</div>
</div>
</div>

<% end %>
<br>
<%= link_to 'Create New Article',  new_article_path , class: 'btn btn-danger'%> 
