<br>
<div class="row">
  <div class="col-sm-8 d-block mx-auto border rounded" style="background-color: rgba(255, 255, 255, .75)">
    <h2 class="head1"style="color:#990011FF"><%= @article.title %></h2>
    <div class="well well-lg">
      <div class="article-body">
        <% if @article.image.attached? %>
          <%= image_tag @article.image, :size => "600x400", class: 'd-block mx-auto effect-6 border rounded'%>
        <% end %>
      </div>
      <div class="col-sm-13 border">
        <h4 class="center description" style="background-color:wheat"><strong>Description</strong></h4>
        <%= simple_format(@article.descrption) %>
        <br>
        <div class="article-actions">
          <% if @article.user%>
            <ul class="container">
              <div class="center">
                <br>
                <hr>
                <h3> Created by: </h3>
                <%= link_to(gravatar_for(@article.user), user_path(@article.user)) if @article.user%>
                <div class="article-title">
                  <%= link_to(@article.user.username, user_path(@article.user), style:"color:black") if @article.user%>
                </div>
                <p><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></p>
              </ul>
            <%end%>
            <% if logged_in? && current_user == @article.user %>
              <%= link_to 'Edit',  edit_article_path(@article) ,class:"effect effect-5" %>
            <%end%>
          </div>
        </div>
        <hr style="border: 1px solid black ">
        <u>
          <h3>Comments(<%= @article.comments.size%>):</h3>
        </u>
        <%= render partial: 'articles/comment', collection: @article.comments.reverse %>
        <%if !logged_in?%>
          <a class="effect effect-5", onclick= myFunction() style="color:white" >Comment</a>
          <script>
            function myFunction() {

            alert("Please Login or Signup to comment")
             }
          </script>
          <%= link_to 'Back',  articles_path, class: " effect effect-5"%>
        <%end%>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <%if logged_in?%>
      <hr style="border: 1px solid black ">
      <div class="left">
           <%= render 'layouts/messages' %>
        <h2>Add New Comment </h2>
        <%= render 'comments/form'%>
      <%end%>
    </div>
  </div>


