<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<%end%>
<section class="vh-100  bg-image" style=" background-image: url('https://images.pexels.com/photos/1996035/pexels-photo-1996035.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <%= form_for @user do |f| %>
              <form>
                
                  <div class="form-outline mb-2">
                    <%= f.text_field :username, id:"form3Example1cg", class:"form-control", autofocus: true %>
                    <label class="form-label" for="form3Example1cg">Your Name</label>
                  </div>
                  <div class="form-outline mb-2">
                    <%= f.text_field :email, id:"form3Example1cg", class:"form-control", autofocus: true %>
                    <label class="form-label" for="form3Example3cg">Your Email</label>
                  </div>
                  <div class="form-outline mb-2">
                    <%= f.text_field :password, id:"form3Example1cg", class:"form-control" %>
                    <label class="form-label" for="form3Example4cg">Password</label>
                  </div>
                  <div class="d-flex justify-content-center">
                    <%= f.submit(@user.new_record? ? "Sign up" : "Update",  class: "effect effect-5 btn-block btn-lg") %>
                  </div>
                  <p class="text-center text-muted mt-5 mb-0"><u>Have already an account?</u> <a 
                   class="fw-bold text-body">  <%= link_to 'Login here', login_path%></a></p>
            
              </form>
                  <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
