<h2> Welcome to <%= @user.username%>'s Articles </h2>
<div class="row">
  <div class = "center">
    <%= gravatar_for @user%>
  </div>
</div>
<%# <div class="col-sm-2 d-block mx-auto ">
<%= paginate @user_articles %>
<%# </div> %>
<%= render 'articles/article', obj: @user.articles%>
<%= link_to 'Back',  articles_path , class:"effect effect-5" %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
