<nav class="navbar navbar-expand-lg" style="background-color:#F5F0E1">
  <div class="container-fluid" style="display:flex; justify-content:left ">
    <%if logged_in?%>
      <%= link_to "Rails blog", root_path, class: "navbar-brand", id: "logo" %>     
      <%= link_to 'Article',  articles_path, class: "nav-link"%>
        <li class="nav-item dropdown btn">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Your Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><%= link_to "Create New Article", new_article_path,style:"color:#990011FF;text-decoration:none;"  %></a>
          <a class="dropdown-item"><%= link_to "View Articles", articles_path ,style:"color:#990011FF;text-decoration:none;" %></a>
        </div>
      </li>
    <%else%>
      <a class="navbar-brand", id= "logo" onclick= myFunction() >Rails blog</a>
      <a class="navbar-brand", onclick= myFunction() style="color:#990011FF" >Article</a>
      <script>
        function myFunction() {

        alert("Please Login or Signup to View")
         }
      </script>
    <%end%>
    </div>
    <div class="abcd">
      <%if logged_in?%>
        <li class="nav-item dropdown btn btn-danger">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choices
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"><%= link_to "View your profile", user_path(current_user),style:"color:#990011FF;text-decoration:none;"  %></a>
            <a class="dropdown-item"><%= link_to "Edit your profile", edit_user_path(current_user) ,style:"color:#990011FF;text-decoration:none;" %></a>
          </div>
        </li>
        <%= link_to 'Logout', logout_path, method: :delete,  class: "btn btn-danger" %>
      <%else%>
        <%= link_to 'Login', login_path,  class: "btn btn-danger" %>
        <%= link_to 'Signup', signup_path,  class: "btn btn-danger" %>
      <%end%>
    </div>
  </div>
</nav>
