<nav class="navbar navbar-expand-lg fixed-top" style="background-color:white;" >
  <div class="container-fluid" style="display:flex; justify-content:left ">
    <%if logged_in?%>
      <%= link_to "Rails blog", root_path, class: "navbar-brand", id: "logo" %>
      <%= link_to 'Home',  articles_path, class: "nav-link"%>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Article
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><%= link_to "Create New Article", new_article_path,style:"color:#990011FF;text-decoration:none;"  %></a>
          <a class="dropdown-item"><%= link_to "View Articles", articles_path ,style:"color:#990011FF;text-decoration:none;" %></a>
        </div>
      </div>
    <%else%>
      <a class="navbar-brand effect effect-5", onclick= myFunction() style="color:white" >Rails blog</a>
      <script>
        function myFunction() {

        alert("Please Login or Signup to View")
         }
      </script>
    <%end%>
  </div>
  <div class="abcd">
    <%if logged_in?%>
      <li class="nav-item dropdown btn-sm" style="color:#990011FF;text-decoration:none; list-style: none" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><%= link_to "View your profile", user_path(current_user),style:"color:#990011FF;text-decoration:none;"  %></a>
          <a class="dropdown-item"><%= link_to "Edit your profile", edit_user_path(current_user) ,style:"color:#990011FF;text-decoration:none;" %></a>
          <a class="dropdown-item"><%= link_to "View Users", users_path ,style:"color:#990011FF;text-decoration:none;" %></a>
        </div>
      </li>
      <%= link_to 'Logout', logout_path, method: :delete, class:" effect effect-5" %>
    <%else%>
      <%= link_to 'Login', login_path,  class: "effect effect-5" %>
      <%= link_to 'Signup', signup_path,  class: "effect effect-5" %>
    <%end%>
  </div>
</div>
</nav>
